<!DOCTYPE html>
<html>
<head>
    <title>Create Project</title>
</head>
<body>
    <h1>Create Project</h1>
    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label><br />
            {{ field }} <br /> <br/>
        {% endfor %}
        {{ imageform.management_form }}
        {% for form in imageform %}
            <label for="{{ form.id_for_label }}">{{ form.label }}</label><br />
            {{ form }}
        {% endfor %}
        <input type="submit" name="submit" value="Submit" />
      </form>
</body>
</html>