{% extends "base.html" %}

{%block title%}Create Project{%endblock%}
{% block content %}

<div class="container my-2 ">
    <h1 class="text-center">Create Project</h1>
    <form id="post_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <label for="{{ field.id_for_label }}" class="fw-bold">{{ field.label }}</label><br />
        {{ field }} <br /> <br />
        {% endfor %}
        {{ imageform.management_form }}
        {% for form in imageform %}
        <label for="{{ form.id_for_label }}" class="fw-bold">{{ form.label }}</label><br /> 
        {{ form }}
        {% endfor %}
        <input type="submit" name="submit" value="Submit" style="background-color:#72B01D; border-radius:10px; text-decoration: none; color: #000; font-weight: 600;"/>
    </form>
</div>
{% endblock %}