{% extends "base.html" %}

{%block title%}Create Project{%endblock%}


{%block content%}
<div class="container">
<h1>Create Project</h1>

<a class="btn btn-primary" href="{% url 'fundprojects:projects' %}">Projects</a>
<a class="btn btn-warning" href="{% url 'fundprojects:categories'%}">Categories</a>
</div>
<div>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'fundprojects:category_projects' category_id=category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
{%endblock%}