{% extends "base.html" %}

{%block title%}Projects{%endblock%}
{% block content %}
<div class="container my-2 ">
<h1 class="text-center">All Projects</h1>
<div class=" d-flex justify-content-end">
    <form action="{% url 'fundprojects:project_create' %}" method="get" >
        <button class="btn " type="submit" style="background-color:#72B01D; border-radius:10px; text-decoration: none; color: #000; font-weight: 600;">Create Project</button>
    </form>
</div>

<table class="table " style="min-height: 30vh;">
    <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Details</td>
            <td>Category</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.title }}</td>
            <td>{{ project.details }}</td>
            <td>{{ project.category.name }}</td>
            <td style="display: flex;">
                <form action="{% url 'fundprojects:project_details' project_id=project.id  %}">
                    <button type="submit" class="btn btn-warning">Show</button>
                </form>
                &nbsp;
                <form action="{% url 'fundprojects:project_update' pk=project.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Update</button>
                </form>
                &nbsp;
                <form>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning">Delete</button>
                </form>

            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>  
{% endblock %}