{% extends "base.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <a class="btn btn-warning fw-bold mb-3" href="{% url 'fundprojects:projects' %}"><<</a>
    <h1>Project Details</h1>
    {% if messages %}
    <div class="alert alert-info" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <hr>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card p-3">
                <p class="card-title">Rate this project</p>
                <form method="post" action="{% url 'fundprojects:rate_project' project_id=project.id %}" class="form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="number" name="rating" placeholder="Rate this project" class="form-control"
                            required>
                        <button type="submit" class="btn btn-success">Rate</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">
                <h3 class="card-title">Donate to this project</h3>
                <form method="post" action="{% url 'fundprojects:donate' project_id=project.id %}" class="form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="number" name="amount" placeholder="Donate to" class="form-control" required>
                        <button type="submit" class="btn btn-success">Donate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card p-3">
        <hr class="text-danger">
        <p class="card-text"><span class="fw-bold fs-5">Name:</span> {{ project.title }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Details:</span> {{ project.details }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Target: EGP</span> {{ project.total_target }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Outstanding:</span> ${{ total_donations }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Status:</span> {{ project.status }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Tags:</span>
            {% for tag in project.tags.all %}
            {{ tag.name }},
            {% endfor %}
        </p>
        <p class="card-text"><span class="fw-bold fs-5">Average Rating:</span> {{ avg_rating }}</p>
        <hr class="mb-0"><a class=" mt-0" href="{% url 'fundprojects:report_project' project_id=project.id %}">Report</a> 
        
        <div class="container mt-5">
            <h3>Comments</h3>
            {% if comments %}
            <div class="row">
                {% for comment in comments %}
                <div class="col-12 mb-1">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ comment.comment }}</p>
                            <div class="d-flex justify-content-between">
                                <small class="text-muted">By: User name</small>
                                <small class="text-muted">Date: {{ comment.created_at }}</small>
                            </div>
                            <a href="{% url 'fundprojects:report_comment' comment_id=comment.id %}" class="card-link">Report</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No comments yet</p>
            {% endif %}
        </div>

        <form action="{% url 'fundprojects:add_comment' project_id=project.id %}" method="POST">
            {% csrf_token %}
            <div class="my-3">
                <label for="comment" class="form-label fst-italic fw-semibold">Add your Comment here </label>
                <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment"
                    required>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" style="background-color:#72B01D; border-radius:10px; text-decoration: none; color: #000; font-weight: 600;">Add Comment</button>
            </div>
            
        </form>
    </div>
            </div>  
        </div>
        <div class="col-6">
        <div id="projectCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for picture in project.projectpicture_set.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ picture.image.url }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#projectCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#projectCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
{% endblock %}