{% extends "base.html" %}
{% block content %}
    <div class="container mt-5 mb-5">
        <a class="btn btn-primary" href="{% url 'fundprojects:projects' %}">Back</a>
        <h1>Project Details </h1>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
        <hr>
        <p>rate this project</p>
        <form method="post" action="{% url 'fundprojects:rate_project' project_id=project.id %}" class="form form-control">
            {% csrf_token %}
            <input type="number" name="rating" placeholder="Rate this project" class="form-control " required>
            <button type="submit" class="btn btn-success">Rate</button>
        </form>

        <hr>
        <h3>Donate to this project</h3>
        <form method="post" action="{% url 'fundprojects:donate' project_id=project.id %}" class="form form-control">
            {% csrf_token %}
            <input type="number" name="amount" placeholder="Donate to" class="form-control " required>
            <button type="submit" class="btn btn-success">Donate</button>
        </form>
        <hr>
        <button class="btn btn-primary "><a class="text-light" href="{% url 'fundprojects:report_project' project_id=project.id %}">Report</a></button>
        <div class="row">
            <div class="col-6">
            <div class="card p-3 w-75">
        <hr class="text-danger">
        <p><span class="fw-bold fs-5">Name: </span> {{ project.title }}</p>
        <p><span class="fw-bold fs-5">Details: </span> {{ project.details }}</p>
        <p><span class="fw-bold fs-5">Target: EGP </span> {{ project.total_target }}</p>
        <span class="text-danger"> -out standing ${{total_donations}}</span>
        <p><span class="fw-bold fs-5">Status: </span> {{ project.status }}</p>
        <p>average rating: {{ avg_rating }}</p>
        {% if comments %}
        <h3>Comments</h3>
        <ul>
            {% for comment in comments %}
            <li>{{ comment.comment }} 
                <a href="{% url 'fundprojects:report_comment' comment_id=comment.id %}"><em>report</em></a>
                <a href="#"><em>delete</em></a>
            </li>
            <small>By:User name</small>
            <small>date: {{ comment.created_at }}</small>
            <hr>
            {% endfor %}
        </ul>
        {% else %}
        <p>No comments yet</p>
        {% endif %}
        <form action="{% url 'fundprojects:add_comment' project_id=project.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment">Add Comment</label>
                <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment" required>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
            </div>  
        </div>
    </div>
{% endblock %}


