{% extends "base.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <a class="btn btn-primary mb-3" href="{% url 'fundprojects:projects' %}">Back</a>
    <h1>Project Details</h1>
    {% if messages %}
    <div class="alert alert-info" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <hr>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card p-3">
                <p class="card-title">Rate this project</p>
                <form method="post" action="{% url 'fundprojects:rate_project' project_id=project.id %}" class="form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="number" name="rating" placeholder="Rate this project" class="form-control"
                            required>
                        <button type="submit" class="btn btn-success">Rate</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">
                <h3 class="card-title">Donate to this project</h3>
                <form method="post" action="{% url 'fundprojects:donate' project_id=project.id %}" class="form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="number" name="amount" placeholder="Donate to" class="form-control" required>
                        <button type="submit" class="btn btn-success">Donate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <a class="btn btn-primary mb-3" href="{% url 'fundprojects:report_project' project_id=project.id %}">Report</a>
    <div class="card p-3">
        <hr class="text-danger">
        <p class="card-text"><span class="fw-bold fs-5">Name:</span> {{ project.title }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Details:</span> {{ project.details }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Target: EGP</span> {{ project.total_target }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Outstanding:</span> ${{ total_donations }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Status:</span> {{ project.status }}</p>
        <p class="card-text"><span class="fw-bold fs-5">Tags:</span>
            {% for tag in project.tags.all %}
            {{ tag.name }},
            {% endfor %}
        </p>
        <p class="card-text">Average Rating: {{ avg_rating }}</p>
        <div class="comments">
            {% if comments %}
            <h3>Comments</h3>
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item">{{ comment.comment }}
                    <a href="{% url 'fundprojects:report_comment' comment_id=comment.id %}"><em>Report</em></a>
                    <small class="text-muted">By: User name</small>
                    <small class="text-muted">Date: {{ comment.created_at }}</small>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No comments yet</p>
            {% endif %}
        </div>
        <form action="{% url 'fundprojects:add_comment' project_id=project.id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="comment" class="form-label">Add Comment</label>
                <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
</div>
{% endblock %}